<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weatherly</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link 
            href="https://fonts.googleapis.com/css?family=Open+Sans:300"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body>
        <div class="container">
            <fieldset>
                <form action="/" method="POST" autocomplete="off">
                    <input name="city" type="text" placeholder="Enter a city" required>
                </form>
            </fieldset>
        </div>
    </body>
</html>